{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="header">
        <h1>Testing Lab</h1>
        <p style="color: #888;">Возможность проверить свои знания в QA</p>
    </div>
    
    <div class="description-text" style="line-height: 1.6; color: #444;">
        <p>Добро пожаловать в <strong>Testing Lab</strong> — проект, 
            созданный для закрепления практических навыков тестирования веб-приложений!
        </p>
        
        <h3>Что умеет этот сайт:</h3>
        <p>
            Во вкладке "Детектор багов" вы найдете форму регистрации пользователя — вы можете протестировать только поле ввода имени. 
            Также вам доступен счетчик найденных уязвимостей с их описанием. Максимальная длина строки — 30 символов. 
        </p>

        <p>
            Ну что, готов проверить свои знания тестирования? Тогда 
            <a href="{% url 'detector' %}" style="color: #007bff; text-decoration: none;">вперед!</a>
        </p>
        
    </div>
{% endblock %}